.cont {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 40px;
  justify-content: center;
  && ul,
  li {
    list-style-type: none;
  }
}
.cont ul {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  flex-wrap: wrap;

  gap: 16px;
}
.cont li {
  background: #f3ecfc;
  flex: 1 1 calc(20% - 10px);
  max-width: 240px;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  color: #131313;
  &&:hover {
    background: #c9c3d1;
  }
}
